@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$rosa;
    padding: 5rem 0;

    h3, p {
        text-align: center;
        color: v.$blanco;
    }
    
    .dia {
        text-transform: uppercase;
        margin: 5rem 0;
    }   
}

.escenarios-contenedor {
    @include m.tablet {
        @include m.grid(2, 5rem);
    }

    p {
        color: v.$negro;
    }
}

.escenario {
    padding-top: 2rem;

    p {
        &:after { // creamos un pseudo elemento para los iconos
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        }
    }
}

.calendario {
    @include m.resetear-lista;

    li {
       padding: 2.5rem;
       font-weight: 700;

       span {
        font-weight: 400;
       }
    }

    // para reordenar la lista y que esté en orden cronológico:
    display: flex;
    flex-direction: column-reverse;
}


// Iconos:

.edm .nombre-escenario:after {
    background-image: url(../img/icono_edm.png);
}

.rock .nombre-escenario:after {
    background-image: url(../img/icono_rock.png);
}


// Utilidades:

.bg-amarillo {
    background-color: v.$amarillo;

    li:nth-child(even) { // para oscurecer los hijos pares (recordar que tenemos flex-direction: column-reverse)
        background-color: darken(v.$amarillo, 15%);
    }
}

.bg-verde {
    background-color: v.$verde;

    li:nth-child(even) {
        background-color: darken(v.$verde, 10%);
    }
}